.sign-in {
    width: 90%;
    margin: 2rem auto;
}
.sign-in .card__content--form .submit-button {
    margin-top: 1rem;
}
.sign-in .card__actions {
    border-top: 1px solid #ccc;
    padding: 0.5rem 1rem;
}
.sign-in .card__actions .redirect-wrapper {
    width: 8rem;
    margin: 0 auto;
    text-align: center;
}
.sign-in .card__actions .redirect-wrapper .sign-in-redirect {
    color: blue;
    cursor: pointer;
}
